@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.MainHeading {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
}


.MainWrapper{
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;

}

.MainParent{
    width: 100%;
    min-height: 100vh;
    padding: 4% 16%;
    box-sizing: border-box;


}